$imgWidthHeight: 300px;
@mixin flexCenter {
	display: flex;
	justify-content: center;
}

#div1,
#div2,
#div3,
#div4 {
	float: left;
	width: 100px;
	height: 35px;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}

.cardParentDiv {
	@include flexCenter();
	position: relative;
}

.photoSelectedTick {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.tick {
	font-size: 4rem;
	color: #191c3c;
}

.image {
	width: $imgWidthHeight;
	height: $imgWidthHeight;
	&:hover {
		cursor: pointer;
	}
}
